@{
    if (Session["user"] == null)
    {
        Response.Redirect("~/Authorize/Login");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DailyInEx", "Index", "Authorize", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Incomes
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Income Entry", "IncomeEntry", "Business")</li>
                            <li>@Html.ActionLink("Pending Incomes", "ApproveIncome", "ApproveInEX")</li>
                            <li>@Html.ActionLink("Monthly Income Report", "IncomeMonthly", "Report")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Expenses
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Expenses Entry", "ExpenseEntry", "Business")</li>
                            <li>@Html.ActionLink("Pending Expenses", "ApproveExpense", "ApproveInEX")</li>
                            <li>@Html.ActionLink("Monthly Expense Report", "ExpenseMonthly", "Report")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("View Yearly Report", "YearlyReport", "Report")</li>

                </ul>
                <div class="nav navbar-nav navbar-right">
                    <a href="" class="navbar-brand">Hello @Session["user"]</a>
                    <a href="~/Authorize/Logout" class="navbar-brand"><strong>Logout</strong></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
